body {
	font-family: 'RobotoCondensed', serif;
}

a {
	text-decoration: none;
}
:focus { outline: none; }
.container {
	max-width: 1300px;
	margin: 0 auto;
	padding: 0 15px;
}

/*header*/

header.header {
    padding: 12px 0;
}
#menuToggle span,
#menuToggle input
 {
	display: none;
}
header #menu{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
nav .brand {
	width: 179px;
	height: 64px;
}
nav ul {
	display: flex;
}

nav ul li {
	margin-right: 36px;
}
nav ul li:last-child {
	margin-right: 0;
}
nav ul li a {
	font-size: 16px;
	line-height: 19px;
	color: #4F4F4F;
	white-space: nowrap;
}
.call-back a {
	display: flex;
	align-items: center;
	font-weight: bold;
	font-size: 20px;
	line-height: 23px;
	color: #3E0D41;
}
.call-back a img{
	margin-right: 10px;
}

/*header media*/

@media all and (max-width: 1200px) {
	nav ul li {
		margin-right: 20px;
	}
}
@media all and (max-width: 1024px) {
	header.header {
		padding: 20px 0;
	}
	#menuToggle
	{
	  display: block;
	  position: relative;
	  top: 0;
	    left: 15px;
	  
	  z-index: 9999;
	  
	  -webkit-user-select: none;
	  user-select: none;
	}

	#menuToggle a
	{
	  
	}


	#menuToggle input
	{
	  display: block;
	  width: 40px;
	  height: 32px;
	  position: absolute;
	  top: -7px;
	  left: -5px;
	  
	  cursor: pointer;
	  
	  opacity: 0; 
	  z-index: 2; 
	  
	  -webkit-touch-callout: none;
	}

	#menuToggle span
	{
	  display: block;
	  width: 33px;
	  height: 4px;
	  margin-bottom: 5px;
	  position: relative;
	  
	  background: linear-gradient(91.17deg, #EB5D56 0.01%, #390A40 100.01%);
	  border-radius: 3px;
	  
	  z-index: 1;
	  
	  transform-origin: 4px 0px;
	  
	  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
	              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
	              opacity 0.55s ease;
	}

	#menuToggle span:first-child
	{
	  transform-origin: 0% 0%;
	}

	#menuToggle span:nth-last-child(2)
	{
	  transform-origin: 0% 100%;
	}
	#menuToggle input:checked ~ span
	{
	  opacity: 1;
	  transform: rotate(45deg) translate(-2px, -1px);
	  background: linear-gradient(91.17deg, #812C49 0.01%, #390A40 100.01%);
	}
	#menuToggle input:checked ~ span:nth-last-child(3)
	{
	  opacity: 0;
	  transform: rotate(0deg) scale(0.2, 0.2);
	}
	#menuToggle input:checked ~ span:nth-last-child(2)
	{
	  transform: rotate(-45deg) translate(0, -1px);
	}
	#menu
	{
		flex-wrap: wrap;
	    width: 35%;
	  position: absolute;
	  margin: -89px 0 0 -30px;
	  padding: 20px;
	  padding-top: 100px;
	  background: #fff;
	  list-style-type: none;
	  -webkit-font-smoothing: antialiased;
	  transform-origin: 0% 0%;
	  transform: translate(-100%, 0);
	  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
	}
	nav ul {
		 width: 100%;
		flex-wrap: wrap;
		margin: 20px 0;
	}
	#menu li
	{
	  padding: 10px 0;
	  font-size: 22px;
	  width: 100%;
	}

	#menuToggle input:checked ~ #menu
	{
	  transform: none;
	}
}

@media all and (max-width: 768px) {
	#menu
	{
		width: 99%;
	}
}

/*header media*/

/*header*/

/*hero*/

.hero {
	background: url(../img/hero-bg.png) 23% 100%/cover scroll;
	position: relative;
	padding-top: 110px;
	padding-bottom: 74px;
	color: #fff;
}

.hero::after {
	content: '';
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: rgba(16, 15, 15, 0.66);
	z-index: 1;	
}

.hero .container{
	display: flex;
    justify-content: space-between;
}

.hero .hero__info,
.hero form {
	position: relative;
	z-index: 2;
}
.hero .hero__info{
    margin-top: 42px;
    margin-left: 109px;
}
.hero h1 {
	padding-bottom: 37px;
	font-weight: bold;
	font-size: 52px;
	line-height: 62px;
	text-transform: uppercase;
}
.hero h1 span{
	margin-bottom: 33px;
	display: block;
	font-weight: normal;
	font-size: 18px;
	line-height: 18px;
	letter-spacing: 0.08em;
}
.hero p{
	font-size: 18px;
	line-height: 24px;
}

/*form*/

.hero form {
	display: flex;
    flex-wrap: wrap;
    width: 335px;
    padding: 36px 32px;
    background: rgba(51, 51, 51, 0.6);
    border-radius: 6px;
    margin-right: 106px;
}
.hero form h3 {
	margin-bottom: 45px;
	font-size: 26px;
	line-height: 26px;
	white-space: nowrap;
}
.hero form label {
	width: 100%;
	font-weight: bold;
	font-size: 12px;
	line-height: 16px;
	letter-spacing: 0.02em;
}
.hero form input {
	width: 100%;
	height: 48px;
	margin: 12px 0;
	padding-left: 12px;
	background: #FFFFFF;
	border: 1px solid #FCFAE1;
	border-radius: 4px;
}
.hero form input::placeholder {
	font-size: 16px;
	line-height: 16px;
	color: rgba(0, 0, 0, 0.5);
}
.btn {
	width: 100%;
	height: 48px;
	background: linear-gradient(91.17deg, #EB5D56 0.01%, #390A40 100.01%);
	border: none;
	border-radius: 4px;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 16px;
	line-height: 24px;
	color: #fff;
	cursor: pointer;
	-webkit-box-shadow: 0px 4px 4px 1px rgba(0,0,0,0.25);
	-moz-box-shadow: 0px 4px 4px 1px rgba(0,0,0,0.25);
	box-shadow: 0px 4px 4px 1px rgba(0,0,0,0.25);
	transition: .4s;
}
.btn:hover {
	background: linear-gradient(91.17deg, #812C49 0.01%, #390A40 100.01%);
}
form .btn {
	margin-top: 20px;
	margin-bottom: 28px;
}
.hero form p {
	font-size: 13px;
	line-height: 18px;
	letter-spacing: 0.5px;
}

/*form*/
/*media*/
@media all and (max-width: 1200px) {
	.hero {
		padding-top: 25px;
	}
	.hero .container {
	    flex-wrap: wrap;
	    justify-content: center;
	}
	.hero .hero__info {
	    margin: 0;
	    text-align: center;
	}
	.hero form {
		margin-top: 40px;
		margin-right: 0;
	}
}
@media all and (max-width: 576px) {
	.hero h1 {
		font-size: 25px;
	    line-height: 30px;
	    padding-bottom: 10px;
	}
	.hero h1 span {
		margin-bottom: 0;
	    font-size: 16px;
	}
	.hero form {
		margin-top: 20px;
	}
	.hero form h3 {
		margin: 0 auto;
		margin-bottom: 20px;
		font-size: 19px;
	}
}
/*media*/
/*hero*/

/*no-risk*/

.risk {
	position: relative;
	padding-top: 99px;
	padding-bottom: 112px;
}

.risk .container {
	display: flex;
	justify-content: flex-end;
}
.risk .container > img {
	width: 790px;
	height: 584px;
	position: absolute;
    left: 94px;
}

.risk h2 {
	padding-top: 49px;
	padding-bottom: 68px;
	font-size: 32px;
	line-height: 46px;
	text-transform: uppercase;
	background: -webkit-linear-gradient(91.17deg, #EB5D56 0.01%, #390A40 100.01%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.risk__wrapper .row {
	display: flex;
	flex-wrap: wrap;
}
.risk__wrapper .row > div:first-child {
	margin-right: 133px;
}
.risk__wrapper  > div:last-child {
	margin-top: 44px;
}
.risk__info {
	color: #4F4F4F;
    margin-right: 30px;
}

.risk__info img {
	width: 52px;
	height: 52px;
}

.risk__info h4 {
	margin-top: 22px;
	margin-bottom: 14px;
	font-weight: normal;
	font-size: 24px;
	line-height: 34px;
}

.risk__info p {
	font-weight: 300;
	font-size: 16px;
	line-height: 24px;
}

/*media*/
@media all and (max-width: 1560px) {
	.risk .container > img {
		width: 570px;
		height: 480px;
		left: 0;
		top: 165px;
	}
	.risk__info {
	    margin-right: 0;
	}
	.risk__wrapper .row > div:first-child {
	    margin-right: 50px;
	}
}
@media all and (max-width: 1200px) {
	.risk .container > img {
		width: 420px;
		height: 350px;
		top: 240px;
	}
}
@media all and (max-width: 1024px) {
	.risk {
		padding-top: 0;
	}
	.risk .container {
		flex-wrap: wrap;
		justify-content: center;
	}
	.risk .container > img {
		position: unset;
		width: 790px;
		height: 584px;
	}
	.risk h2 {
		padding-top: 68px;
		text-align: center;
	}
	.risk__wrapper .row > div {
		width: 43%;
		text-align: center;
	}
}
@media all and (max-width: 800px) {
	.risk .container {
		padding: 0;
	}
	.risk .container > img {
		width: 100%;
	}
	.risk__wrapper .row > div,
	.risk__wrapper .row > div:first-child {
	    margin: 0 20px;
	}
}
@media all and (max-width: 576px) {
	.risk .container > img {
	    height: 320px;
	}
	.risk h2 {
	    padding-top: 40px;
	    padding-bottom: 10px;
	    font-size: 25px;
	}
	.risk__wrapper .row {
	    justify-content: center;
	}
	.risk__wrapper .row > div,
	.risk__wrapper .row > div:first-child 
	{
		width: 100%;
	    margin: 20px 25px;
	}
}
/*media*/

/*no-risk*/

/*footer*/
.footer  {
	padding: 21px 0;
}
.footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer__copy {
	font-weight: 300;
	font-size: 12px;
	line-height: 14px;
	color: #828282;
}
.footer__copy a{
	text-decoration-line: underline;
	color: #828282;
}
.footer__copy p{
	margin: 20px 0;
}
.foot__contact a{
	display: block;
	font-size: 20px;
	line-height: 23px;
	color: #4F4F4F;
}
.foot__contact {
    margin-right: 40px;
}
.foot__contact a:first-child{
	margin-bottom: 16px;
}
.foot__contact a:last-child{
	margin-bottom: 14px;
}
/*media*/
@media all and (max-width: 768px) {
	.footer .container {
	    flex-wrap: wrap-reverse;
	}
	.foot__contact {
		margin-right: 0;
	}
}
@media all and (max-width: 576px) {
	.footer .container {
	    justify-content: center;
	}
	.footer__logo {
		margin: 25px 0;
	}
	.foot__contact {
		margin-top: 20px;
	}
	.footer__copy,
	.foot__contact {
		width: 100%;
		text-align: center;
	}
}
/*media*/
/*footer*/